[submodule "iiab"]
	path = iiab
	url = https://github.com/iiab/iiab
	branch = master
	shallow = true
[submodule "iiab-admin-console"]
	path = iiab-admin-console
	url = https://github.com/iiab/iiab-admin-console
	branch = master
	shallow = true
[submodule "iiab-menu"]
	path = iiab-menu
	url = https://github.com/iiab/iiab-menu
	branch = master
	shallow = true
[submodule "iiab-factory"]
	path = iiab-factory
	url = https://github.com/iiab/iiab-factory
	branch = master
	shallow = true
